body {
  background-color: rgb(77, 255, 166);
}

h1 {
  font-family: cursive;
  font-size: 80px;
  text-align: center;
  color: rgb(224, 9, 106);
  border: 2px solid red;
  border-radius: 10px;
}

h2 {
  color: rgb(222, 7, 215);
  font-size: 60px;
  font-style: italic;
}

 h3 {
   font-size: 40px;
   color: rgb(127, 7, 219);
   font-style: italic;
   text-align: center;
 }

 p {
   color: rgb(44, 4, 222);
   font-size: 30px;
   text-align: center;
 }

 li {
   font-size: 30px;
 }

 img {
   display: lock;
   margin-left: auto;
   margin-right: auto;
 }
